body {
   background-color: #a6a6a6!important;
}

.card{
  margin-top:1em;
  border-radius:10px!important;
  background-color: #a6a6a6!important;
 /* border-radius: 20px; */
 /* background-color: #a6a6a6; */

}
.table{
  color: white!important;
}
.item{
  color:black;
}
.card-header {
  border-radius: 15px!important 15px!important 0px!important 0px!important;
   color: white;
   background-color: #343a40!important;
  /* text-align: center; */

}
.card-question{
   background-color:#343a40;
     padding:10px;
   border-radius: 10px;
}
.question{
   padding:10px;
   background-color:#343a40;
}
.card-body1  {
     align-items: center;
     color: white;
     background-color: #656569;
      border-radius: 10px 10px 10px 10px;
    /* text-align: center; */
    /* border-radius: 0px 0px 20px 20px; */
}
.card-body2  {
     align-items: center;
     color: white;
     background-color: #656569;
      border-radius: 0px 0px 10px 10px;
    /* text-align: center; */
    /* border-radius: 0px 0px 20px 20px; */
}
.drop-item{
  color:black!important;
}
.link{
  color: white;
}

.table{
  color: white;
}

.submit{
  background-color: #25235e!important;
  color: white!important;
  align-items: center;
}
.sideBar{
  height:60px;
}
.cancel{
  background-color: red;
  align-items: center;
  color:white;
}
.list-card{
 margin-left:3em;
}
b{
  font-weight: 500;
}
a { color: white!important;
text-decoration:none;
}
a:hover {
color:#000000!important;
text-decoration : none!important;
}
.mButton{
  display:none;
}
.dButton{
  display:block;
}

@media only screen and (max-width: 600px) {

.displayTable{
  display:none;
}
.reqDelete{
  width:115px;
  font-size:13px;
  margin-top:5px;
}
.wReqDelete{
  width:115px;
  font-size:11px;
  margin-top:5px;
}
.list-card{
 margin-left:0em;
}
.dButton{
  display:none;
}
.mButton{
  display:block;
  width:30%;
  font-size:11px;
}
.content{
  margin-top:.8em;
  font-size:11px;
}
.sideBar{
   height:10px;
}

}
