body {
   background-color: #a6a6a6!important;
}

.card{
  margin-top:1em;
  border-radius:10px!important;
  background-color: #a6a6a6!important;
 /* border-radius: 20px; */
 /* background-color: #a6a6a6; */

}
.table{
  color: white!important;
}
.item{
  color:black;
}
.card-header {
  border-radius: 15px!important 15px!important 0px!important 0px!important;
   color: white;
   background-color: #343a40!important;
  /* text-align: center; */

}
.card-question{
   background-color:#343a40;
     padding:10px;
   border-radius: 10px;
}
.question{
   padding:10px;
   background-color:#343a40;
}
.card-body  {
     align-items: center;
     color: white;
     background-color: #656569;
      border-radius: 0px 0px 10px 10px;
    /* text-align: center; */
    /* border-radius: 0px 0px 20px 20px; */
}
.drop-item{
  color:black!important;
}
.link{
  color: white;
}

.table{
  color: white;
}

.submit{
  background-color: #25235e!important;
  color: white!important;
  align-items: center;

}

.cancel{
  background-color: red;
  align-items: center;
  color:white;
}
b{
  font-weight: 500;
}
a { color: white!important;
text-decoration:none;
}
a:hover {
color:#000000!important;
text-decoration : none!important;
}
