/**
 * @Date:   2020-03-10T17:17:41+00:00
 * @Last modified time: 2020-03-11T18:16:40+00:00
 */
body {
  background-color: #a6a6a6;
}
.about {
    margin-top:-7em;
    margin-bottom: 1em;
    border-radius: 200px;
}

div.card-header {
  color: white;
  background-color: #343a40;
  text-align: center;
}
div.card-body  {
    color: white;
    background-color: #656569;
    text-align: center;

}

div.title{
  color: white;
  text-align: center;
  font-size: 4vw;
}

div.headline-slogan {
    color: white;
    text-align: center;
    font-size: 3vw;
    padding-bottom: 20px;
}

.heading {
  margin-top:-2em;
  height: 100vh;
  min-height: 500px;
  background: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(100%);
}
.tagline{
    color:white;
    filter: brightness(100%);
}
h1{
    margin-top:-5em;
    color:white;
    filter: brightness(150%);
}
h2{
    text-align:center;
}

@media only screen and (max-width: 600px) {

.about{
  margin-bottom:10em;
}

}
